<h1>Railsgirls#info</h1>
<p>Find me in app/views/railsgirls/info.html.erb</p>
<table style="width:100%">
  <tr>
    <th>"#"</th>
    <th>Ime</th>
    <th>Prezime</th> 
  </tr>
  <tr>
    <td>1</td>
    <td>Smith</td> 
    <td>Prezime</th>
  </tr>
  <tr>
    <td>2</td>
    <td>Jackson</td>
    <td>Prezime</th> 

  </tr>
</table>


